body {
  font-family: "Fauna One", serif;
  background-color: rgb(249, 249, 249);
  background-image: url(../imgs/pattern1.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 100px;
}

#logo {
  width: 100px;
  height: 100%;
}

.navbar-brand {
  padding-right: 20px;
  border-right: 2px solid rgb(232, 193, 64);
}

.navbar {
  color:rgb(31,141,225);
  background-color: rgb(235, 235, 235);
}

.border-warning {
  border-radius: 3px;
}

/* This  does not work */
#email > a.nav-link{
  border-right: 2px solid rgb(232, 193, 64);
  border-bottom: 2px solid rgb(232, 193, 64);
  color: rgb(210, 167, 26);
}
/* This  does not work */

.container.main-content {
  background-color: rgba(0, 0, 0, 0.858);
}

footer {
  background-color: rgb(235, 235, 235);
  color: rgb(111, 110, 110);
  text-align: center;
}