body {
  font-family: "Fauna One", serif;
  background-color: rgb(249, 249, 249);
  background-image: url(../imgs/pattern1.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ************* NAVBAR ************* */
#logo {
  width: 100px;
  height: 100%;
}

.navbar-brand {
  padding-right: 20px;
  border-right: 2px solid rgb(232, 193, 64);
}

.border-warning {
  border-radius: 3px;
}

#email > a.nav-link{
  color: rgb(210, 167, 26);
}
#email > a.nav-link:hover{
  border-right: 2px solid rgb(232, 193, 64);
  border-bottom: 2px solid rgb(232, 193, 64);
}

#navbarSupportedContent > ul.navbar-nav > li.nav-item > a:hover{
  color: rgb(210, 167, 26);
}
#navbarSupportedContent > ul.navbar-nav > li.nav-item > a:active{
  color: rgb(210, 167, 26);
}

/* ************* drop down items ************* */
#navbarSupportedContent > ul.navbar-nav > li.nav-item > div.dropdown-menu > a.dropdown-item:hover{
  background-color: rgb(249, 230, 171);
}
#navbarSupportedContent > ul.navbar-nav > li.nav-item > div.dropdown-menu > a.dropdown-item:active{
  background-color: rgb(210, 167, 26);
}

/* ************* MAIN CONTENT ************* */
.container.main-content {
  background-color: rgba(0, 0, 0, 0.858);
}

#more-text {
  display: none;
}

#more-btn {
  color: white;
  text-decoration: underline;
}

#more-btn:hover {
  color: rgb(210, 167, 26);
  text-decoration: underline;
}

/* ************* TABLE ************* */
tbody a {
  color: white;
}

tbody a:hover {
  color: white;
  text-decoration: underline;
}

tr td:nth-child(2), tr td:nth-child(3), tr td:nth-child(4), tr td:nth-child(5) {
  text-align: center;
}

div>table>thead>tr>th:nth-child(2), div>table>thead>tr>th:nth-child(3), 
div>table>thead>tr>th:nth-child(4), div>table>thead>tr>th:nth-child(5) {
  text-align: center;
}

/* ************* FOOTER ************* */

footer {
  background-color: rgb(235, 235, 235);
  color: rgb(111, 110, 110);
  text-align: center;
  width: 100%;
  height: 30px;
  margin-top:auto;
}