/* html {
  scroll-behavior: smooth;
} */

body {
  font-family: "Fauna One", serif;
  background-image: url(../imgs/pattern1.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ************* NAVBAR ************* */
.navbar-brand {
  padding-right: 20px;
  border-right: 2px solid rgb(232, 193, 64);
}

#logo {
  width: 100px;
  height: 100%;
}

#email > a {
  color: rgb(210, 167, 26);
}

#navbarSupportedContent > ul.navbar-nav > li.nav-item > a:hover {
  color: rgb(210, 167, 26);
}
#navbarSupportedContent > ul.navbar-nav > li.nav-item > a:active {
  color: rgb(210, 167, 26);
}

#email > a:hover {
  text-decoration: underline;
}

/* ************* drop down items ************* */
#navbarSupportedContent > ul.navbar-nav > li.nav-item > div.dropdown-menu > a.dropdown-item:hover {
  background-color: rgb(249, 230, 171);
}
#navbarSupportedContent > ul.navbar-nav > li.nav-item > div.dropdown-menu > a.dropdown-item:active {
  background-color: rgb(210, 167, 26);
}

/* ************* MAIN CONTENT ************* */
.container.main-content {
  background-color: rgba(0, 0, 0, 0.858);
}

img-container {
  align-items: center;
  justify-content: center;
}

.first-page-img {
  height: 600px;
  width: 450px;
}

#more-text {
  display: none;
}

#more-btn {
  color: rgb(210, 167, 26);
}

#more-btn:hover {
  color: white;
  text-decoration: underline;
}

/* ************* FORM & FILTERS ************* */

.custom-switch{
  padding-left: 1rem;
}

.filterTitle{
  border-bottom: solid 1px white;
}

form {
  margin-bottom: 10px;
}

form span {
  padding-right: 4px;
}

/* ************* TABLE ************* */
body > div > table.fixedColumns,
body > div > table.fixedColumns5 {
  table-layout: fixed;
  width: 100%;
}


/* ********* engaged/loyal tables column width ******** */
table.fixedColumns.table.table-bordered.table-hover.table-dark > thead > tr > th:nth-of-type(1) {
  width: 40%;
}
table.fixedColumns.table.table-bordered.table-hover.table-dark > thead > tr > th:nth-of-type(2) {
  width: 30%;
}
table.fixedColumns.table.table-bordered.table-hover.table-dark > thead > tr > th:nth-of-type(3) {
  width: 30%;
}

/* ********* house/senate tables column width ******** */
table.fixedColumns5.table.table-bordered.table-hover.table-dark > thead > tr > th:nth-of-type(1) {
  width: 30%;
}
table.fixedColumns5.table.table-bordered.table-hover.table-dark > thead > tr > th:nth-of-type(2) {
  width: 10%;
}
table.fixedColumns5.table.table-bordered.table-hover.table-dark > thead > tr > th:nth-of-type(3) {
  width: 10%;
}
table.fixedColumns5.table.table-bordered.table-hover.table-dark > thead > tr > th:nth-of-type(4) {
  width: 20%;
}
table.fixedColumns5.table.table-bordered.table-hover.table-dark > thead > tr > th:nth-of-type(5) {
  width: 20%;
}

/* ********* other table properties ******** */
tbody a {
  color: white;
}

tbody a:hover {
  color: white;
  text-decoration: underline;
}

tr td:nth-child(2),
tr td:nth-child(3),
tr td:nth-child(4),
tr td:nth-child(5) {
  text-align: center;
}

div > table > thead > tr > th:nth-child(2),
div > table > thead > tr > th:nth-child(3),
div > table > thead > tr > th:nth-child(4),
div > table > thead > tr > th:nth-child(5) {
  text-align: center;
}

.loader {
  text-align: center;
}

#noResults {
  display: none;
  background-color: rgb(253, 194, 194);
  color: rgb(109, 0, 0);
  text-align: center;
}

/* ************* TOP BUTTON ************* */

.btn-warning {
  position: fixed;
  bottom: 0px; /* Place the button at the bottom of the page */
  right: 12px; /* Place the button 30px from the right */
  z-index: 1; /* Make sure it does not overlap */
  height: 0px; /* Hidden by default */
  padding: 1px 10px;
  color: black;
  background-color: rgb(252, 201, 33);
  font-size: 16px; /* Increase font size */
  border:0;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  transition: height 0.5s linear;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s; 
}

/* ************* FOOTER ************* */

footer {
  background-color: rgb(235, 235, 235);
  color: rgb(111, 110, 110);
  text-align: center;
  width: 100%;
  margin-top: auto;
}

footer p {
  margin-bottom: 0;
}
